---
layout: default
---

<div>

  <div class="parallax about text">
    <h1 id="about" class="section">About Me</h1>
  </div>
  <section>
    <div>
      {% capture about %}{% include about.md %}{% endcapture %}
      {{ about | markdownify }}
    </div>
  </section>

  <div class="parallax cv text">
    <h1 id="cv" class="section">Experience</h1>
  </div>
  <section>
    <div>
      {% capture cv %}{% include cv.md %}{% endcapture %}
      {{ cv | markdownify }}
    </div>
  </section>

  <div class="parallax portfolio text">
    <h1 id="portfolio" class="section">
      Portfolio
    </h1>
  </div>
  <section>
    <div>
      {% capture portfolio %}{% include portfolio.md %}{% endcapture %}
      {{ portfolio | markdownify }}
    </div>
  </section>

  <div class="parallax blog text">
    <h1 id="blog" class="section">Blog</h1>
  </div>
  <section>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    <div class="row">
      {% for post in site.posts %}
      {% endfor %}
    </div>
    <div class="post-list">
      {% for post in site.posts %}
        {% capture thecycle %}{% cycle 'first', 'second', 'third' %}{% endcapture %}
        {% if thecycle == 'first' %}
          <div class="row">
        {% endif %}
          <div class="col-md-4 h">
            <a href='{{ post.url }}' class="post-title">{{ post.title }}</a>
            <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          </div>
        {% if thecycle == 'third' %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>
</div>
